* {
    /* background-color: black; */
}

.point{
    cursor: pointer;
}

.flex {
    display: flex;

}

.redBorder {
    border: 2px red solid;
}

.blackBorder {
    border: 2px black solid;
}

.logo {
    position: relative;
    left: -83px;
}

.homeButton {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #212121; */
}

.homelogo {
    height: 24px;
}

.homelogo:hover {
    height: 26px;
}



.navbar {
    display: flex;
    justify-content: space-around;
    height: 51px;
    align-items: center;
    background-color: #1add49;

}

.search {
    position: relative;
    display: flex;
    /* display: none; */
}

.searchbar {
    height: 44px;
    width: 476px;
    border-radius: 30px;
    border: 2px black solid;
    
    /* background-color: #212121; */

}

/* .search:hover .searchLogo {
    display: none;
} */

.searchLogo {
    display: block;
    position: absolute;
    left: 419px;
    top: 7px;
    z-index: 1;
    height: 36px;
    cursor: pointer;
}

.signup {
    height: 49px;
    width: 80px;
    background-color: #1add49;
    /* color: white; */
    border: none;
}

.signup:hover {
    font-size: large;
}

.login {
    height: 51px;
    width: 80px;
    background-color: white;
    color: black;
    border-radius: 30px;
}

.login:hover {
    font-size: large;
}

.logo span{
    font-size: 26px;

}



.left {
    min-width: 25%;
    height: 90vh;
    position: relative;

}

.library {
    align-items: center;
}

.libraryLogo {
    height: 41px;
}

.library h2 {
    margin-left: 30px;
    ;
}

.footer ul li {
    text-decoration: none;
    list-style: none;
}

.list {
    font-size: small;
    margin: none;
    gap: 17px;
    position: absolute;
    bottom: 0px;
}

.songList {
    display: flex;
    gap: 5px;
    overflow: auto  ;
    margin: 0px 10px;
    height: 69vh;

}

.songList li{
    border: 2px black solid ;
}

.songList ol{
    padding: 0px;
}


.songList ol li {
    padding-left: 0px;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    margin: 10px 0px;
    height: 75px;
    cursor: pointer;



}

.footer ul{
    background-color: #baffba;

}
.footer ul li{
    cursor: pointer;

}


.right {
    position: relative;
    min-width: 75%;
}

.playlistImg {
    height: 192px;
    /* margin: 0px 20px; */

}

.titleName{
    word-break: break-all;
    width: 145px;
}

.playlistInfo {
    /* width: 196px; */
    /* margin: 0px 20px; */
}

.singlePlaylist {
    border: 2px black solid;
    margin: 20px 20px;
    position: relative;
}

.play {
    flex-wrap: wrap;

    /* max-height: 100vh; */
    /* overflow: auto; */
}

.play > div{
    cursor: pointer;
}

.playButton {
    position: absolute;
    left: 188px;
    top: 230px;
    display: none;
    transition:all 3000ms;
}
.playButton:hover {
    
    height: 50px;
}

.singlePlaylist:hover .playButton {
    transition-duration: 100ms;
    display: block;
    position: absolute;
    left: 143px;
    
    top: 145px;
    height: 43px
}

.soundbar {
    display: flex;
    background-color: #baffba;
    left: 1px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    bottom: 2px;
    height: 78px;
    width: 100%;
}

.soundbarInfo{
    display: flex
;
    justify-content: space-between;
    width: 100%;
} 

.controls {
    width: 216px;
    display: flex;
    justify-content: space-between;
    ;
    /* justify-content: normal; */
    /* position: relative; */
    height: 38px;
}

.controls img{
    cursor: pointer;
}

.soundButton {


    height: 41px;

}


.seekBar {

    border: 2px black solid;
    width: 100%;
    height: 2px;
    position: relative;
}

.seekButton {
    border: 2px black solid;
    width: 7px;
    border-radius: 50%;
    height: 7px;
    background-color: black;
    position: absolute;
    bottom: -5px;
}

.volume{
    align-items: center;
    margin: 2px;
}

.volume img{
    height: 25px;
}

.volscroll{
    height: 2px;
    border: 2px red solid;
    width: 111px;
    position: relative;
}

.volround{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
    border: 2px black solid;
    position: absolute;
    left: -2px;
    top: -3px;
}